.App {
  margin: 20px;
}

.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.user {
  padding: 20px;
  margin: 20px;
  background-color: azure;
  text-align: center;
}

.user img {
  width: 300px;
  height: 300px;
}

.userItem {
  text-align: center;
}